body {
    color-scheme: dark;
    background-color: var(--background-color);
    color: var(--text-color);
}

.traccar-layout {
    position: relative;
}

.traccar-layout__aside {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    z-index: 500;

    width: 350px;

    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 70%;

    .positions-list {
        transition: transform 0.3s;
    }
}

.traccar-layout__navbar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 500;

    display: flex;
    gap: 10px;
    align-items: center;
}

.traccar-layout__controls {
    position: absolute;
    bottom: 25px;
    right: 10px;
    z-index: 500;

    display: flex;
    flex-flow: column;
    gap: 10px;
}

.traccar-layout__player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 500;
    transition: transform 0.3s;

    display: flex;
    gap: 10px;
}

.traccar-layout__range {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 500;
    transition: transform 0.3s;
}

.hide-sections {
    .traccar-layout__player {
        transform: translateY(120%);
    }

    .traccar-layout__range {
        transform: translateY(-120%);
    }

    .traccar-layout__aside .positions-list {
        transform: translateX(-120%);
    }
}
