@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: inherit;
}

ul, li {
    list-style: none;
}

label {
    display: block;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

[popover] {
    border: unset;
    background: var(--background-color);
}

#__nuxt, .traccar-layout {
    width: 100vw;
    height: 100vh;
}
