@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: inherit;
}

ul, li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

#__nuxt, .traccar-layout {
    width: 100vw;
    height: 100vh;
}

@media (prefers-color-scheme: dark) {
    .leaflet-layer, .leaflet-control-attribution {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
}