@import './_reset.css';
@import './_variables.css';
@import './_layout.css';
@import './_icons.css';

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.list-items {
    height: 100%;
    overflow: scroll;

    li {
        background-color: var(--item-background-color);
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        cursor: pointer;
        transition: background-color 0.3s;
    
        &:hover {
            background-color: var(--item-background-color-hover);
        }
    }

    li:not(:last-child) {
        margin-bottom: 10px;
    }
}